<form>
  <div class="form-group">
    <label>{{localize "DEEPNIGHT.leadershipEffect"}}
      <input id="leadershipEffect" type="number" name="rollModifiers.leadershipEffect" value="0" placeholder="0" style="width: 8ch;"/>
    </label>
  </div>
</form>
