<form>
  <fieldset>
    <div class="form-group">
      <label for="reachSupplyUnits">Supply Units per Day
        <input id="reachSupplyUnits" type="number" name="reachSupplyUnits" value="{{reachSupplyUnits}}" placeholder="1000" style="width: 8ch;"/>
      </label>
    </div>
    <div class="form-group">
      <label for="reachJumps">Jumps
        <input id="reachJumps" type="number" name="reachJumps" value="{{jumps}}" placeholder="4" style="width: 8ch;"/>
      </label>
    </div>
  </fieldset>
</form>
