.dnr-console {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-light-heading);
  background-image: url(../icons/console.svg);
}

.dnr-shipicon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-light-heading);
  background-image: url(../icons/revelation.png);
  background-repeat: no-repeat;
  background-size: contain;
}
